.logo.logo-en {
    display: inline-block;
    width: 138px;
    height: 127px;
    vertical-align: middle;
    text-decoration: none;
    background-image: url(images/logo-en.png);
    background-size: 100% 100%;
    font-size: 0;
    line-height: 0;
    text-indent: -4004px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), not all, only screen and (min-resolution: 192dpi){
.logo.logo-en {
    background-image: url(images/logo-en@2x.png);
}
}

.expositions .focus2 a {
    height: 77px;
}
.logo {
    background-image: url(n-images/AEF23_logo.png);
}
.global-wrapper {
    border: 10px solid #6464bF;
}
body:not(.espacepro) .quicklinks .btn-primary:before {
    background-image: url(n-images/AEF-fond.png);
}
.site-footer {
    background: #6464bF;
}
.site-footer .footer__nav a {
    color: white;
}
.site-footer .footer__nav-alt a {
    color: #fff;
}
.socials-primary>img {
    position: absolute;
    width: 107vw;
    max-width: 200vw;
    top: 0;
    left: 50%;
    margin-left: -54vw;
}
